<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum</title>
  </head>
  <body>
    <h1>Sumlist</h1>
    <table>
      <% for(var i = 0; i<nums.length; i++){ %>
      <% var color = (nums[i]%2) ? odd :even %>
      <tr>
      </tr>
      <td></td>
    </h2>
  </table>
  </body>
</html>
